.panel-heading h3 {
	margin: 0;
	padding: 0;
}

table {
	width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

thead th {
	/*height: 30px;*/

	/*text-align: left;*/
}

tbody {
	height: 390px;
	overflow-y: auto;
}

#tb-clt {
	height: 400px;
}

thead {
	/* fallback */
}


tbody td, thead th {
	width: 25%;
	float: left;
}