table {
	width: 100%;
}

thead, tbody, tr, td, th { display: block; }

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

tbody {
	height: 390px;
	overflow-y: auto;
}

tbody td, thead th {
	width: 20%;
	float: left;
}

.panel-heading h3 {
	margin: 0;
	padding: 0;
}

.modal-footer form {
	display: inline-block;
}

#tb-clt {
	height: 400px;
}